body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
}

.right {
    flex: 65%;
    
}

.left {
    flex: 35%;
}

.logo-section {
    display: flex;
    flex-direction: column;
    background-color: #2390bb;

}

.logo {

}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}